[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/maat-v1-core"]
	path = lib/maat-v1-core
	url = https://github.com/maat-protocol/maat-v1-core
